<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeCare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

   <header>
    <nav class="navbar navbar-expand-lg ">
      <div class="container ">
        <a class="navbar-brand" href="#"><img src="images/WE CARE.svg" width="100px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>

            </li>

          
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
         
         
        </div>
        <div class="header-cta">
          <button type="button" class="btn get_btn">Get Started </button>
         
        </div>
      </div>
    </nav>

    <!-- hero -->

    <section class="hero-section">
      <div class="wrapper container-fluid m-auto mt-4 ">
        <div class="row align-items-center column-gap-5">
          <div class="col-5">
            <div class="hero-content  ">
              <h1> Trust US
 <span class=" heading" >We Here To HELP</span></h1>
            </div>
            <p class=" header_text py-3">Join us and take care of yourself and your family with health services that will make you feel confident and safe in your daily life.</p>
           
            <div class="hero-btn pt-5 ">
            <button type="button" class="btn live_btn ">Live Chat</button>
           </div>

          </div>
          <div class="col-4">
            <img src="images/doctor-img.png" alt="">

          </div>
        </div>
      </div>
    </section>

   </header>




      <section class="service-section">
        <div class="wrapper service-container m-auto py-5">
        <div class="text-center py-4">  <h2>Our Service</h2>
          <p>Our Platform is a freindly user interface made <br> to help you take a good care of yourself.</p></div>
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="service_card ">
                <img src="images/cardio-icon.svg" alt="">
                <div class="box-content pt-2"><p><b>Cardiology</b></p>
                <p>Our cardiologists are skilled at  the diagnosing and treating diseases
                  of the cardiovascular system.</p></div>
              </div>
            </div>
            <div class="col text-center">
              <div class="service_card  ">
                <img src="images/lungs-icon.svg" alt="">
                <div class="box-content"><p><b>Cardiology</b></p>
                <p>Our cardiologists are skilled at  the diagnosing and treating diseases
                  of the cardiovascular system.</p></div>
              </div>
            </div>
            <div class="col text-center ">
              <div class="service_card">
                <img src="images/tablet-icon.svg" alt="">
                <div class="box-content"><p><b>Cardiology</b></p>
                <p>Our cardiologists are skilled at  the diagnosing and treating diseases
                  of the cardiovascular system.</p></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- certified-doctors -->


     

      <!-- mobile-app -->

      <section class="mobile-app">
        <!-- <div class="container"> -->

          <div class="  row align-items-center ">
            <div class="col"><img src="images/mobile-mockup.svg" alt=""></div>
            <div class="col">
              <div class="mobile-content">
                <h2>Mobile apps are available <br>
                  Get HealthCare for a respectful price!</h2>
                  <p>Get on-demand access to a doctor on your phone  with the free <br>WE CARE  mobile app. Download and register  <br>on our app for free and feel safe for all your family</p>
              </div>
            </div>
          
          </div>
        </div>
      </section>

    
      <footer>
        <div class="container footer py-5">
          <div class="row">
            <div class="col">
              <img src="images/logo-2.svg" alt="">
              <p>Contact us: -216-52-049-360</p>
              <div class="social_links ">
                <a href="#"class="px-1"><img src="images/Facebook.svg" alt=""></a>
                <a href="#"class="px-1"><img src="images/Instagram.svg" alt=""></a>
                <a href="#"class="px-1"><img src="images/Twitter.svg" alt=""></a>
                <a href="#"class="px-1"><img src="images/Youtube.svg" alt=""></a>
              </div>
            </div>

            <div class="col footer_list ">
              <ul>
                <li><a href="#"><b>Catagory</b></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Articles</a></li>

              </ul>
            </div>
            <div class="col footer_list">
              <ul>
                <li><a href="#"><b>About</b></a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Community</a></li>
              

              </ul>
            </div>

            <div class="col">
              <p><b>Subscribe newsletter</b></p>
              <p class="newsletter_text">Sign up for tips, new destinations, and exclusive promos.</p>
              <div class="mb-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
              </div>
              
              <div class="footer_btn"> <a href="#" >Subscribe</a></div>

             
            </div>
          </div>
         
        </div>
        <hr>
       <div class=" wrapper d-flex justify-content-between m-auto">
        <div ><p class="all_right">© 2021 Healthcare - All rights reserved.</p></div>

        <div class="  footer_link ">

          <a href="#">Privacy</a>
          <a href="#">Security</a>
          <a href="#">Terms</a>
         
        </div>
       </div>
      </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>